<h1><%= facility.name %></h1>

<h1><%= facility.facility_type %></h1>

<h1><%= facility.st_name %></h1>

<h1><%= facility.st_type %></h1>

<h1><%= facility.contact_name %></h1>

<h1><%= facility.language %></h1>
